<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styl.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <section class="header">
        <a href="{% url 'home' %}" class="logo">
            <img src="../static/img/donation.png" alt="">
            <h2>Insertar nombre original</h2>
        </a>
        <div class="toggle">
            <ul class="sci">
                <li>
                    <a href="{% url 'home' %}">Home<img src="../static/img/home.png" alt="" class="icon">
                        <span class="line2 "></span>
                    </a> </li>
                <li>
                    <a href="{% url 'requisito' %}">Requisitos<img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="{% url 'rh' %}">Tipo de RH <img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="{% url 'incentivo' %}">Incentivos<img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li><a href="{% url 'about' %}">Sobre nosotros <img src="../static/img/about.png" alt="" class="icon"> <span
                            class="line2"></span></a> </li>
                <li><a href="">Login <img src="../static/img/user.png" alt="" class="icon"><span class="line2 active"></span> </a> </li>

            </ul>
        </div>
    </section>
   
    <div class="container_login">
    <div class="form">
        <h2>Login</h2>
        <span class="mb-0 text-muted">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                Agrega tus credenciales
            {% endif %} 
        </span>
        <form role="form" method="post" action="">
            {% csrf_token %} 
            
            <div class="input">                        
                <div class="inputBox">
                    <label for="">Username</label>
                    {{ form.username }}
                </div>
                <div class="inputBox">
                    <label for="">Password</label>
                    {{ form.password }}
                </div>
            <div class="inputBox">
                
                <input type="submit" name="login" value="Sign In"/>
            </a>
            </div>
        </form>
        
            
        </div>
        
        <p class="forget">Registrate <a href="{% url 'register' %}">Click Here</a></p>
    </div>
</div>
</body>

</html>