<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styl.css">

    <link rel="stylesheet" href="../static/css/navbar.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-container container_navbar">
            <a href="/" class="navbar-logo" onClick={closeMobileMenu}>
                Bloove
            </a>
            <div class="menu-icon" onClick={handleCLick}>
            </div>
            <ul class='nav-menu'>

                <li class='nav-item'>
                    <a href='http://localhost:3000' class='nav-links' onClick={closeMobileMenu}>
                        Home
                    </a>
                </li>
                <li class='nav-item'>
                    <a href='http://localhost:3000/requisitos' class='nav-links' onClick={closeMobileMenu}>
                        Requisitos
                    </a>
                </li>

                <li class='nav-item'>
                    <a href='http://localhost:3000/rh' class='nav-links' onClick={closeMobileMenu}>
                        Tipos de RH
                    </a>
                </li>
                <li class='nav-item'>
                    <a href='http://localhost:3000/incentivos' class='nav-links' onClick={closeMobileMenu}>
                        Incentivos
                    </a>

                </li>
                <li class='nav-item'>
                    <a href='http://localhost:3000/about' class='nav-links' onClick={closeMobileMenu}>
                        Sobre nosotros
                    </a>

                </li>
                <li class='nav-item'>
                    <a href='http://127.0.0.1:8000/login/' class='nav-links' onClick={closeMobileMenu}>
                        login
                    </a>

                </li>
            </ul>

        </div>
    </div>


    <div class="container_login">
        <div class="form">
            <h2>Login</h2>
            <span class="mb-0 text-muted">
                {% if msg %}
                {{ msg | safe }}
                {% else %}
                Agrega tus credenciales
                {% endif %}
            </span>
            <form role="form" method="post" action="">
                {% csrf_token %}

                <div class="input">
                    <div class="inputBox">
                        <label for="">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="inputBox">
                        <label for="">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="inputBox">

                        <input type="submit" name="login" value="Sign In" />
                        </a>
                    </div>
            </form>


        </div>

        <p class="forget">Registrate <a href="{% url 'register' %}">Click Here</a></p>
    </div>
    </div>
</body>

</html>