<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styl.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <section class="header">
        <a href="{% url 'home' %}" class="logo">
            <img src="../static/img/donation.png" alt="">
            <h2>Bloove</h2>
        </a>
        <div class="toggle">
            <ul class="sci">
                <li>
                    <a href="{% url 'home' %}">Home<img src="../static/img/home.png" alt="" class="icon">
                        <span class="line2 "></span>
                    </a> </li>
                <li>
                    <a href="{% url 'requisito' %}">Requisitos<img src="../static/img/campaigning.png" alt=""
                            class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="{% url 'rh' %}">Tipo de RH <img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="{% url 'incentivo' %}">Incentivos<img src="../static/img/campaigning.png" alt=""
                            class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li><a href="{% url 'about' %}">Sobre nosotros <img src="../static/img/about.png" alt="" class="icon">
                        <span class="line2"></span></a> </li>
                <li><a href="{% url 'login' %}">Login <img src="../static/img/user.png" alt="" class="icon"><span
                            class="line2"></span> </a> </li>

            </ul>
        </div>
    </section>

    <div class="container2_login">
        <div class="content plus">
            <h2>Registro</h2>
            <!--CUESTIONARIO-->
            <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Agrega tus credenciales
                {% endif %} 
            </span>
            {% if not success %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="feather icon-user"></i></span>
                    </div>
                    {{ form.name }}
                </div>
                <span class="text-error">{{ form.name.errors }}</span>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="feather icon-user"></i></span>
                    </div>
                    {{ form.last_name }}
                </div>
                <span class="text-error">{{ form.last_name.errors }}</span>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="feather icon-user"></i></span>
                    </div>
                    {{ form.username }}
                </div>
                <span class="text-error">{{ form.username.errors }}</span>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="feather icon-mail"></i></span>
                    </div>
                    {{ form.email }}
                </div>
                <span class="text-error">{{ form.email.errors }}</span>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                    </div>
                    {{ form.password1 }}
                </div>
                <span class="text-error">{{ form.password1.errors }}</span>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                    </div>
                    {{ form.password2 }}
                </div>
                <span class="text-error">{{ form.password2.errors }}</span>                
                </div>
                <div class="row100">
                    <div class="col" href="{% url 'datos' %}">
                        <button type="submit" name="register" class="btn btn-primary btn-block mb-4">Registrarme</button>

                    </div>
                </div>
            </form>
            {% endif %}
            <!--FIN CUESTIONARIO-->
        </div>
    </div>
    <section class="footer">
        <ul class="sci">
            <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="../static/img/twitter.png" alt=""></a></li>
            <li><a href="#"><img src="../static/img/instagram.png" alt=""></a></li>
        </ul>
        <h4>Copyright &copy;2020</h4>
    </section>
    <script>
        window.addEventListener('load', function () {

            document.getElementById('fecha').type = 'text';
            document.getElementById('fecha').style = 'border-bottom: 2px  solid #f01706; ';
            document.getElementById('fecha').addEventListener('blur', function () {
                document.getElementById('fecha').style = 'border-bottom: 2px  solid #f01706; ';
                document.getElementById('fecha').type = 'text';


            });

            document.getElementById('fecha').addEventListener('focus', function () {

                document.getElementById('fecha').type = 'date';

            });

        });
    </script>
</body>

</html>

