<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styl.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-container container_navbar">
            <a href="/" class="navbar-logo" onClick={closeMobileMenu}>
                Bloove
            </a>
            <div class="menu-icon" onClick={handleCLick}>
            </div>
            <ul class='nav-menu'>

                <li class='nav-item'>
                    <a href='http://localhost:3000' class='nav-links' onClick={closeMobileMenu}>
                        Home
                    </a>
                </li>
                <li class='nav-item'>
                    <a href='http://localhost:3000/requisitos' class='nav-links' onClick={closeMobileMenu}>
                        Requisitos
                    </a>
                </li>

                <li class='nav-item'>
                    <a href='http://localhost:3000/rh' class='nav-links' onClick={closeMobileMenu}>
                        Tipos de RH
                    </a>
                </li>
                <li class='nav-item'>
                    <a href='http://localhost:3000/incentivos' class='nav-links' onClick={closeMobileMenu}>
                        Incentivos
                    </a>

                </li>
                <li class='nav-item'>
                    <a href='http://localhost:3000/about' class='nav-links' onClick={closeMobileMenu}>
                        Sobre nosotros
                    </a>

                </li>
                <li class='nav-item'>
                    <a href='http://127.0.0.1:8000/login/' class='nav-links' onClick={closeMobileMenu}>
                        login
                    </a>

                </li>
            </ul>

        </div>
    </div>

    <div class="container2_login">
        <div class="content plus">
            <h2>Registro</h2>
            <!--CUESTIONARIO-->
            <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Agrega tus credenciales
                {% endif %} 
            </span>
            {% if not success %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" id="username" name="username" readonly="readonly"> {{form.username}}
                            <span class="line"></span>
                        </div>
                    </div>                    
                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <Select id="documento" name="documento" data-constraints="@Required"{{form.documento}}>
                                <option value="">Documento de indentificacion</option>
                                <option value="CC">CC</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="TI">TI</option>
                            </Select>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="number" id="numDocumento" name="numDocumento"  required="required" placeholder="N° indentificacion" data-constraints="@Required"{{form.numDocumento}}>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <Select id="grupo" name="grupo" data-constraints="@Required"{{form.grupo}}>
                                <option value="">Grupo sanguineo</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="O">O</option>
                                <option value="AB">AB</option>
                            </Select>
                        </div>
                    </div>
                    <div class="col">
                
                        <div class="inputBox">
                
                            <Select id="rh" name="rh" data-constraints="@Required"{{form.rh}}>
                                <option value="RH">RH</option>
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </Select>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input id="fecha" name="fecha"  class="input100" type="date" 
                                placeholder="Fecha de Nacimiento del Titular" data-constraints="@Required"{{form.fecha}}>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="inputBox">
                
                            <Select class="myselect" id="genero" name="genero" data-constraints="@Required"{{form.genero}}>
                                <option value="">Genero</option>
                                <option value="M">M</option>
                                <option value="F">F</option>
                                <option value="Otro">Otro</option>
                            </Select>
                        </div>
                    </div>
                </div>
                
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input id="ciudad" name="ciudad"  type="text" required="required" placeholder="Ciudad donde vives" data-constraints="@Required"{{form.ciudad}}>
                
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                
                        <div class="inputBox">
                            <input type="number" id="celular" name="celular"  required="required" placeholder="Celular" data-constraints="@Required"{{form.celular}}>
                
                            <span class="line"></span>
                        </div>
                
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <button type="submit" name="register" class="btn btn-primary btn-block mb-4">Registrarme</button>

                    </div>
                </div>
            </form>
            {% endif %}
            <!--FIN CUESTIONARIO-->
        </div>
    </div>
    <section class="footer">
        <ul class="sci">
            <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="../static/img/twitter.png" alt=""></a></li>
            <li><a href="#"><img src="../static/img/instagram.png" alt=""></a></li>
        </ul>
        <h4>Copyright &copy;2020</h4>
    </section>
    <script>
        window.addEventListener('load', function () {

            document.getElementById('fecha').type = 'text';
            document.getElementById('fecha').style = 'border-bottom: 2px  solid #f01706; ';
            document.getElementById('fecha').addEventListener('blur', function () {
                document.getElementById('fecha').style = 'border-bottom: 2px  solid #f01706; ';
                document.getElementById('fecha').type = 'text';


            });

            document.getElementById('fecha').addEventListener('focus', function () {

                document.getElementById('fecha').type = 'date';

            });

        });
    </script>
</body>

</html>