<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styl.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <section class="header">
        <a href="{% url 'home' %}" class="logo">
            <img src="../static/img/donation.png" alt="">
            <h2>Insertar nombre original</h2>
        </a>
        <div class="toggle">
            <ul class="sci">
                <li>
                    <a href="{% url 'home' %}">Home<img src="../static/img/home.png" alt="" class="icon">
                        <span class="line2 active"></span>
                    </a> </li>
                <li>
                    <a href="{% url 'requisito' %}">Requisitos<img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li>
                    <a href="">Tipo de RH <img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2 active"></span>
                    </a> </li>
                <li>
                    <a href="{% url 'incentivo' %}">Incentivos<img src="../static/img/campaigning.png" alt="" class="icon">
                        <span class="line2"></span>
                    </a> </li>
                <li><a href="{% url 'about' %}">Sobre nosotros <img src="../static/img/about.png" alt="" class="icon"> <span
                            class="line2"></span></a> </li>
                <li><a href="{% url 'login' %}">Login <img src="../static/img/user.png" alt="" class="icon"><span class="line2"></span> </a> </li>

            </ul>
        </div>
    </section>
    <section class="Jumbotron">
        <div class="title">
            <H1>Tipo de RH</H1>
        </div>
        <div class="wave"></div>
    </section>
    <section class="types">
        <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="../staticimg/blood-drop.png" alt="">
                </div>
                <div class="content">
                    <h3>A+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop A-.png" alt="">
                </div>
                <div class="content">
                    <h3>A+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop B+.png" alt="">
                </div>
                <div class="content">
                    <h3>B+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop B-.png" alt="">
                </div>
                <div class="content">
                    <h3>B-</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop AB-.png" alt="">
                </div>
                <div class="content">
                    <h3>A+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop AB+.png" alt="">
                </div>
                <div class="content">
                    <h3>A+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop o-.png" alt="">
                </div>
                <div class="content">
                    <h3>A+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../static/img/blood-drop o.png" alt="">
                </div>
                <div class="content">
                    <h3>A+</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, distinctio labore modi totam
                        facere ipsa corrupti, eaque doloremque rem necessitatibus culpa maiores minima repudiandae aut
                        dolore cupiditate accusamus ipsam nam.</p>
                </div>
            </div>
        </div>
        <div>

        </div>
    </section>
    <section class="footer">
        <ul class="sci">
            <li><a href="#"><img src="../static/img/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="../static/img/twitter.png" alt=""></a></li>
            <li><a href="#"><img src="../static/img/instagram.png" alt=""></a></li>
        </ul>
        <h4>Copyright &copy;2020</h4>
    </section>
</body>

</html>